@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: "Mulish", sans-serif;

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.warper{
    background-color: rgb(71,85,105);
}

.text-primary{
     color: rgba(13, 19, 33, 0.7);
}

.navber-all{
    display:flex ;
    justify-content: space-between;
    margin: 0 auto;
    color: white;
    /* border: 4px solid rgb(26, 0, 128); */
    max-width: 1440px;
    padding: 20px;
}
.nav-btn  button{
    margin-right: 40px;
    background-color: black;
    color: aliceblue;
    border: none;
    padding: 5px;
    border-radius: 5px;
    
}
.nav-humburger-menu{
    display: none;
}
.main-content{
    max-width: 1440px;
    margin: 0 auto;
    border: 1px solid red ;
}
.banner-child{
    width: 47%;
    position: relative;
    /* border: 2px solid green; */
}
.banner-child img{
    width: 100%;
    border-radius: 10px;
}
.banner-main{
    display: flex;
    align-items: center;
    justify-content:space-between;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(242,242,242);
}
.banner-btn{
    border: 1px solid gray;
    background-color: transparent;
    padding: 10px;
    border-radius: 5px;

}
.fifty{
    background-color: rgba(0, 0, 0, 0.5);
    color:white;
    width: max-content;
    padding: 20px 60px;
    font-size: 20px;
    border-radius: 10px;
    position: absolute;
    top: 40%;
    left: 35%;
}

/* Population section */
.popular-card{
    min-height: 200px;
    /* border: 1px solid red; */
    padding: 10px;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.348);
    border-radius: 10px;
}
.popular-card img{
    width: 100%;
    border-radius: 10px;

}
.popular-all{
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}


/* medium device */
@media  screen and (max-width:800px) {

    .navber-all{
        flex-direction: column;
        align-items: center;
    
    }
    .navber-all>div{
        margin-top: 20px;
    }
    .fifty{
        left: 20%;
    }
    .popular-all{
        grid-template-columns: repeat(2,1fr);
    }
   
}
/* mobile device */
@media  screen and (max-width:576px){
    .nav-humburger-menu{
        display: block;
    }
    .nav-btn{
      
        display: none;
    }
    .navber-all{
        flex-direction: row;
    }
    .banner-main{
        flex-direction: column;
     
    }
    .banner-child{
        width: 100%;
    }
    .popular-all{
        grid-template-columns: repeat(1,1fr);
    }
}


